@font-face {
    font-family: "Bangers";
    src: url(../font/Bangers-Regular.ttf);
}

$color_primary:#ee5519;
$color_black_down:#000;
$color_text_white:#fff;
$bg_black_body:#000;
$bg_grey_btn:#524c4c;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // font-family: "Bangers", sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: $bg_black_body;
}

.header {
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
    &-down {
        height: 70px;
        background-color: $color_black_down;
        box-shadow: 0 1px 10px $color_primary;
    }
    &__container {
        &-down {
            height: 70px;
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: auto;
        &--menu {
            & nav {
                height: 100%;
            }
            width: calc(100% - 350px);
        }
    }
}

.main-menu {
    height: inherit;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    & li a {
        cursor: pointer;
        text-decoration: none;
        color: $color_text_white;
        font-weight: 300;
        transition: all .5s ease;
        &:hover {
            color: $color_primary;
        }
    }
    & .active {
        color: $color_primary;
    }
}

.vidwrapper video {
    width: 100%;
    height: 100%;
}

.about {
    background-image: url(../media/section-hero.5954265b.png);
    background-position: center right;
    background-repeat: no-repeat;
    .container {
        display: flex;
        align-items: center;
    }
    &__wrapper {
        width: 50%;
        margin: 300px 0;
        position: relative;
        z-index: 1;
        & h2 {
            color: $color_text_white;
            font-size: 4rem;
            margin-bottom: 45px;
            & .text-primary {
                color: $color_primary;
            }
        }
        & p {
            color: $color_text_white;
            font-size: 1.3rem;
            max-width: 470px;
            margin-bottom: 45px;
        }
    }
}

.btn {
    position: relative;
    display: inline-block;
    font-family: "Bangers", sans-serif;
    letter-spacing: .03em;
    text-decoration: none;
    &+& {
        margin-left: 50px;
    }
    &-primary {
        color: $color_text_white;
        padding: 12px 50px;
        font-size: 1.5rem;
        &::before {
            content: "";
            background-color: $color_primary;
            width: 100%;
            height: 100%;
            transform: skewX(-16deg);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &::after {
            content: "";
            background-color: $color_primary;
            width: 6px;
            height: 100%;
            transform: skewX(-16deg);
            position: absolute;
            top: 0;
            right: -15px;
            z-index: -1;
            transition: all .5s ease;
        }
        &:hover::after {
            right: 0px;
        }
    }
    &-secondary {
        color: $color_primary;
        padding: 12px 50px;
        font-size: 1.5rem;
        &::before {
            content: "";
            background-color: $color_text_white;
            width: 100%;
            height: 100%;
            transform: skewX(-16deg);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &::after {
            content: "";
            background-color: $color_text_white;
            width: 6px;
            height: 100%;
            transform: skewX(-16deg);
            position: absolute;
            top: 0;
            right: -15px;
            z-index: -1;
            transition: all .5s ease;
        }
        &:hover::after {
            right: 0px;
        }
    }
}

.features {
    &__title {
        font-size: 3rem;
        color: white;
        margin-bottom: 3rem;
        & h2>span {
            color: $color_primary;
        }
    }
    &__wrapper {
        display: grid;
        gap: 5%;
        grid-template-columns: repeat(auto-fit, minmax(calc(360px - 5%), calc(400px - 5%)));
        justify-content: center;
        margin-bottom: 100px;
    }
}

.feature-card {
    &__top {
        text-align: center;
        background: gray;
        &--title {
            font-size: 2rem;
            color: white;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 258px;
                height: 64px;
                z-index: -1;
                background-image: url(../media/feature-title-bg.a3fb3007.svg);
                transform: translate(-50%, -50%);
            }
        }
        &--img {
            & img {
                width: auto;
                margin: 30px;
            }
        }
    }
    &__bottom {
        border: 8px solid $color_primary;
        border-top-width: 0;
        &--title {
            padding: 37px 0 17px;
            & h3 {
                color: $color_text_white;
                font-size: 2rem;
                text-align: center;
                & span {
                    color: $color_primary;
                }
            }
            & p {
                color: $color_text_white;
                font-size: 1.5rem;
                text-align: center;
                padding-bottom: 1rem;
            }
        }
    }
}

.meta {
    & .container {
        & h2 {
            font-size: 5rem;
            color: $color_text_white;
            text-align: center;
        }
        & span {
            color: $color_primary;
        }
    }
    &__wrapper {
        display: grid;
        gap: 5%;
        grid-template-columns: repeat(auto-fit, calc(300px - 5%));
        justify-content: center;
        margin: 100px 0;
        & .meta__item--bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -25%;
            font-family: "Poppins", sans-serif;
            & span {
                color: $color_primary;
                font-weight: 800;
                font-size: 1.5rem;
            }
            & p {
                color: $color_text_white;
                text-align: center;
                font-weight: 600;
                font-size: 0.85rem;
                line-height: 1.5;
                margin-bottom: 20px;
            }
            & a {
                position: relative;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 600;
                color: $color_text_white;
                padding: 5px 35px;
                font-family: "Bangers", sans-serif;
            }
            & a::before {
                content: "";
                background-color: $bg_grey_btn;
                width: 100%;
                height: 100%;
                transform: skewX(-16deg);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            & a:hover::before {
                background-color: $color_primary;
            }
        }
    }
}

.roadmap {
    &__wrapper {
        margin-top: -35%;
        display: grid;
        gap: 7%;
        grid-template-columns: repeat(auto-fit, calc(400px - 5%));
        justify-content: center;
        & .roadmap__item {
            &:first-child .roadmap__item--top {
                height: 370px;
                position: relative;
                & img {
                    position: absolute;
                    bottom: 0;
                    width: 80%;
                    height: auto;
                    margin: 0 auto;
                }
            }
            &:nth-child(2) .roadmap__item--top {
                height: 370px;
                position: relative;
                & img {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: auto;
                }
            }
            &:last-child .roadmap__item--top {
                width: 110%;
            }
            &--bottom {
                & .roadmap__item--dot {
                    height: 35px;
                    width: 35px;
                    background-color: orangered;
                    border-radius: 50%;
                    margin: 8% 0 0 20%;
                }
                & .roadmap__item--title {
                    font-size: 1.5rem;
                    font-weight: 800;
                    color: $color_primary;
                }
                & .roadmap__item--content {
                    color: $color_text_white;
                    font-weight: 600;
                    font-size: 0.9rem;
                    line-height: 1.5;
                }
            }
        }
    }
}

.tokenomics {
    &__wrapper {
        display: flex;
        align-items: center;
        &--img {
            width: 50%;
            display: inline-block;
        }
        &--content {
            width: 50%;
            display: inline-block;
            color: $color_text_white;
            padding: 8%;
            &-title {
                font-size: 4rem;
                font-weight: 800;
                & span {
                    color: $color_primary;
                }
            }
        }
    }
}