@font-face {
  font-family: "Bangers";
  src: url(../font/Bangers-Regular.ttf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #000;
}

.header {
  width: 100%;
  height: 135px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-down {
  height: 70px;
  background-color: #000;
  box-shadow: 0 1px 10px #ee5519;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: auto;
}
.header__container-down {
  height: 70px;
}
.header__container--menu {
  width: calc(100% - 350px);
}
.header__container--menu nav {
  height: 100%;
}

.main-menu {
  height: inherit;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
.main-menu li a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: all 0.5s ease;
}
.main-menu li a:hover {
  color: #ee5519;
}
.main-menu .active {
  color: #ee5519;
}

.vidwrapper video {
  width: 100%;
  height: 100%;
}

.title {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 45px;
  font-family: "Bangers", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.title span {
  color: #ee5519;
}

.about {
  background-image: url(../media/section-hero.5954265b.png);
  background-position: center right;
  background-repeat: no-repeat;
}
.about .container {
  display: flex;
  align-items: center;
}
.about__wrapper {
  width: 50%;
  margin: 300px 0;
  position: relative;
  z-index: 1;
}
.about__wrapper p {
  color: #fff;
  font-size: 1rem;
  max-width: 470px;
  margin-bottom: 45px;
  font-weight: 600;
}

.btn {
  position: relative;
  display: inline-block;
  font-family: "Bangers", sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.btn + .btn {
  margin-left: 50px;
}
.btn-primary {
  color: #fff;
  padding: 12px 50px;
  font-size: 1.5rem;
}
.btn-primary::before {
  content: "";
  background-color: #ee5519;
  width: 100%;
  height: 100%;
  transform: skewX(-16deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn-primary::after {
  content: "";
  background-color: #ee5519;
  width: 6px;
  height: 100%;
  transform: skewX(-16deg);
  position: absolute;
  top: 0;
  right: -15px;
  z-index: -1;
  transition: all 0.5s ease;
}
.btn-primary:hover::after {
  right: 0px;
}
.btn-secondary {
  color: #ee5519;
  padding: 12px 50px;
  font-size: 1.5rem;
}
.btn-secondary::before {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  transform: skewX(-16deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn-secondary::after {
  content: "";
  background-color: #fff;
  width: 6px;
  height: 100%;
  transform: skewX(-16deg);
  position: absolute;
  top: 0;
  right: -15px;
  z-index: -1;
  transition: all 0.5s ease;
}
.btn-secondary:hover::after {
  right: 0px;
}

.features__title {
  font-size: 3rem;
  color: white;
  margin-bottom: 3rem;
}
.features__title h2 > span {
  color: #ee5519;
}
.features__wrapper {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(auto-fit, minmax(calc(360px - 5%), calc(400px - 5%)));
  justify-content: center;
  margin-bottom: 100px;
}

.feature-card__top {
  text-align: center;
  background: gray;
}
.feature-card__top--title {
  font-size: 1.5rem;
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-weight: 800;
}
.feature-card__top--title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 258px;
  height: 64px;
  z-index: -1;
  background-image: url(../media/feature-title-bg.a3fb3007.svg);
  transform: translate(-50%, -50%);
}
.feature-card__top--img img {
  width: auto;
  margin: 30px;
}
.feature-card__bottom {
  border: 8px solid #ee5519;
  border-top-width: 0;
}
.feature-card__bottom--title {
  padding: 37px 0 17px;
}
.feature-card__bottom--title h3 {
  font-family: "Bangers", sans-serif;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}
.feature-card__bottom--title h3 span {
  color: #ee5519;
}
.feature-card__bottom--title p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 1rem;
}

.meta .container h2 {
  font-size: 5rem;
  color: #fff;
  text-align: center;
}
.meta .container span {
  color: #ee5519;
}
.meta__wrapper {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(auto-fit, calc(300px - 5%));
  justify-content: center;
  margin: 100px 0;
}
.meta__wrapper .meta__item--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25%;
  font-family: "Poppins", sans-serif;
}
.meta__wrapper .meta__item--bottom span {
  color: #ee5519;
  font-weight: 800;
  font-size: 1.5rem;
}
.meta__wrapper .meta__item--bottom p {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.meta__wrapper .meta__item--bottom a {
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  padding: 5px 35px;
  font-family: "Bangers", sans-serif;
}
.meta__wrapper .meta__item--bottom a::before {
  content: "";
  background-color: #524c4c;
  width: 100%;
  height: 100%;
  transform: skewX(-16deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.meta__wrapper .meta__item--bottom a:hover::before {
  background-color: #ee5519;
}

.roadmap .container {
  position: relative;
}
.roadmap .container .title {
  position: absolute;
  top: -10%;
}
.roadmap__wrapper {
  margin-top: -35%;
  display: grid;
  gap: 7%;
  grid-template-columns: repeat(auto-fit, calc(400px - 5%));
  justify-content: center;
}
.roadmap__wrapper .roadmap__item:first-child .roadmap__item--top {
  height: 370px;
  position: relative;
}
.roadmap__wrapper .roadmap__item:first-child .roadmap__item--top img {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.roadmap__wrapper .roadmap__item:nth-child(2) .roadmap__item--top {
  height: 370px;
  position: relative;
}
.roadmap__wrapper .roadmap__item:nth-child(2) .roadmap__item--top img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
.roadmap__wrapper .roadmap__item:last-child .roadmap__item--top {
  width: 110%;
}
.roadmap__wrapper .roadmap__item--bottom .roadmap__item--dot {
  height: 35px;
  width: 35px;
  background-color: orangered;
  border-radius: 50%;
  margin: 8% 0 0 20%;
}
.roadmap__wrapper .roadmap__item--bottom .roadmap__item--title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ee5519;
}
.roadmap__wrapper .roadmap__item--bottom .roadmap__item--content {
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.5;
}

.tokenomics__wrapper {
  display: flex;
  align-items: center;
}
.tokenomics__wrapper--img {
  width: 50%;
  display: inline-block;
}
.tokenomics__wrapper--content {
  width: 50%;
  display: inline-block;
  color: #fff;
  padding: 8%;
}
.tokenomics__wrapper--content-title {
  font-size: 4rem;
  font-weight: 800;
}
.tokenomics__wrapper--content-title span {
  color: #ee5519;
}
.tokenomics__wrapper--content p {
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}
.tokenomics__wrapper--content p span {
  color: #ee5519;
}
.tokenomics__wrapper--content-list {
  margin-bottom: 25px;
}
.tokenomics__wrapper--content-list li span:first-child {
  display: inline-block;
  width: 60%;
}

.communities {
  position: relative;
}
.communities__social {
  width: 60%;
  height: 30%;
  position: absolute;
  top: 22%;
  left: 19%;
  text-align: center;
}
.communities__social img {
  width: 3vw;
  height: 3vw;
}
.communities__social span {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 30px;
}
.communities__social p {
  font-weight: 600;
}
.communities__social--telegram {
  position: absolute;
  top: 37%;
  left: 12%;
  color: #00c7e6;
  z-index: 1;
}
.communities__social--telegram::before {
  content: "";
  background-color: #00c7e6;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
}
.communities__social--telegram::after {
  content: "";
  background-color: #00c7e6;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
  -webkit-animation: animationsocial 2s infinite 2s;
          animation: animationsocial 2s infinite 2s;
}
.communities__social--discord {
  position: absolute;
  top: 55%;
  left: 30%;
  color: #5c6bc0;
  z-index: 1;
}
.communities__social--discord::before {
  content: "";
  background-color: #5c6bc0;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
}
.communities__social--discord::after {
  content: "";
  background-color: #5c6bc0;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
  -webkit-animation: animationsocial 2s infinite;
          animation: animationsocial 2s infinite;
}
.communities__social--twitter {
  position: absolute;
  top: 40%;
  left: 47%;
  color: #1da1f2;
  z-index: 1;
}
.communities__social--twitter::before {
  content: "";
  background-color: #1da1f2;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
}
.communities__social--twitter::after {
  content: "";
  background-color: #1da1f2;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
  -webkit-animation: animationsocial 2s infinite 2s;
          animation: animationsocial 2s infinite 2s;
}
.communities__social--github {
  position: absolute;
  top: 40%;
  left: 66%;
  color: #ffab00;
  z-index: 1;
}
.communities__social--github::before {
  content: "";
  background-color: #ffab00;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
}
.communities__social--github::after {
  content: "";
  background-color: #ffab00;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
  -webkit-animation: animationsocial 2s infinite;
          animation: animationsocial 2s infinite;
}
.communities__social--medium {
  position: absolute;
  top: 20%;
  left: 82%;
  color: #00ae6a;
  z-index: 1;
}
.communities__social--medium::before {
  content: "";
  background-color: #00ae6a;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
}
.communities__social--medium::after {
  content: "";
  background-color: #00ae6a;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, calc(-50% + 1.5vw));
  -webkit-animation: animationsocial 2s infinite 2s;
          animation: animationsocial 2s infinite 2s;
}

@-webkit-keyframes animationsocial {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.5) translate(-20%, calc(-20% + 0.75vw));
  }
}

@keyframes animationsocial {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.5) translate(-20%, calc(-20% + 0.75vw));
  }
}
.partners .container {
  max-width: 1000px;
}
.partners h2 {
  font-size: 5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.partners span {
  color: #ee5519;
}
.partners__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}
.partners__wrapper * {
  width: 25%;
  margin: 20px calc(25% / 6);
}

.investors .container {
  max-width: 1000px;
}
.investors h2 {
  font-size: 5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.investors span {
  color: #ee5519;
}
.investors__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.investors__wrapper * {
  width: 25%;
  margin: 20px calc(25% / 6);
}

.Advisors__wrapper {
  display: grid;
  gap: 10%;
  grid-template-columns: repeat(auto-fit, minmax(calc(360px - 15%), calc(400px - 15%)));
  justify-content: center;
  margin-bottom: 100px;
}
.Advisors__wrapper--item {
  text-align: center;
}
.Advisors__wrapper--item-bottom {
  margin-top: 2rem;
  width: 120%;
  margin-left: -10%;
}
.Advisors__wrapper--item-bottom a {
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.5s ease;
}
.Advisors__wrapper--item-bottom a:hover {
  color: #ee5519;
}
.Advisors__wrapper--item-bottom p {
  color: #ee5519;
}

.footer {
  background: url(../media/footer-bg.39ea1e2a.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -50px;
}
.footer__wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
}
.footer__wrapper img {
  width: 30%;
}
.footer__wrapper p {
  color: #fff;
  margin-bottom: 40px;
}
.footer__wrapper--social img {
  width: 2vw;
  height: 2vw;
  margin-bottom: 20px;
}
.footer__wrapper--nav {
  display: flex;
  justify-content: space-around;
  color: #ee5519;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.footer__wrapper--nav li {
  font-weight: 600;
  position: relative;
}
.footer__wrapper--nav li::after {
  content: "";
  background: url(../media/telegram.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: -30px;
  transition: all 1s ease;
}
.footer__wrapper--nav li:hover::after {
  right: -20px;
}/*# sourceMappingURL=main.css.map */